.profile {
  margin-left: 1rem;
  hr {
    margin: 1rem 0;
  }
  &-information {
    display: flex;
    flex-direction: column;
    position: relative;

    .profile-box {
      display: flex;
      justify-content: space-between;
      .user {
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .user-information {
      display: flex;
      width: 100%;
      &-left {
        margin-right: auto;
        display: flex;
        flex-direction: column;
      }
      &-right {
        margin-top: auto;
        display: flex;
        flex-direction: column;
      }
      .name,
      .company {
        font-weight: 700;
      }
    }
  }
  .user-tags {
    .tag-group {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        color: #adb1ba;
        font-weight: 300;
        margin-bottom: 0.5rem;
      }
      .tag {
        display: inline-block;
        background-color: #e6f0f3;
        color: rgb(106, 138, 184);
        border-radius: 4px;
        padding: 0 0.5rem;
        margin-right: 0.3rem;
      }
    }
  }
  .profile-options-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .icon-link-button {
      margin-right: 1rem;
      span {
        font-size: 13px;
      }
      img {
        width: 13px;
        height: 13px;
        margin-right: 0.5rem;
      }
    }
  }
  .profile-panel-informations {
    position: relative;
    h5 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
      font-weight: 100;
      color: #adb1ba;
    }
    p {
      margin-bottom: 0.2rem;
    }
    .bold {
      font-weight: 500;
      margin-top: 1rem;
    }
    .file {
      display: flex;
      align-items: center;
      background-color: rgba(#000, 0.05);
      padding: 0.5rem;
      border-radius: 4px;
      margin-bottom: 0.2rem;
      &-avatar {
        display: flex;
        align-items: center;
        button {
          &:first-of-type {
            margin-left: 5rem;
          }
          margin-left: 2rem;
        }
      }
      .icon-link-button {
        .icon {
          margin-right: 0.5rem;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .profile-proposals,
  .profile-internal-reviews,
  .profile-amount-of-fees {
    h4 {
      margin-bottom: 1rem;
    }
    th {
      text-align: left;
    }

    table {
      width: 100%;
    }
    .see-more {
      display: block;
      text-align: right;
      color: teal;
      font-size: 1.1rem;
      margin-top: 0.5rem;
    }
  }
  .see-more-reviews {
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
    display: block;
    margin-top: 1.5rem;
  }
}
.profile-amount-of-fees {
  margin-bottom: 6rem;
}
