@import "variables";

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 16px;
  margin: auto;

  @media (max-width: 1232px) {
    width: 100%;
  }
}

.icon-link-button {
  text-decoration: none;
  display: flex;
  background-color: transparent;
  border: unset;
  cursor: pointer;

  .icon {
    margin-right: 1rem;
    width: 24px;
    height: 24px;
  }
  .title {
    color: #29314b;
    font-size: 14px;
  }
}

.icon-button {
  width: 40px;
  height: 40px;
  border: unset;
  margin-left: 0.5rem;
  border-radius: 50%;
  position: relative;

  .notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    padding: 0.3rem;
  }
}

.user-avatar {
  border-radius: 50%;
}
