.workspaces {
  width: 100%;
  padding: 2rem 0;
  position: relative;
  overflow-x: hidden;

  &:hover {
    .prev,
    .next {
      opacity: 1;
      transform: scale(1);
    }
    .prev {
      left: 0.4rem;
    }
    .next {
      right: 0.4rem;
    }
  }

  .prev,
  .next {
    position: absolute;
    width: 30px;
    height: calc(100% - 9rem);
    top: 6rem;
    background-color: rgba(#000, 0.2);
    border-radius: 0.7rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s all;
    transform: scale(0.5);
    &:hover {
      background-color: rgba(#000, 0.7);
    }

    img {
      width: 20px;
      height: 20px;
      filter: invert(1);
    }
  }
  .prev {
    left: -5.5rem;
    img {
      transform: rotate(180deg);
    }
  }
  .next {
    right: -5.5rem;
  }

  .slider {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }

  .workspaces-item {
    margin: 1rem 1rem 0 0;
    min-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(#000, 0.1);
    border: 1px solid rgba(#000, 0.1);

    .bg-box {
      width: 100%;
      min-height: 100px;
      background-position: center;
      background-size: cover;
    }

    .icon-box {
      position: absolute;
      left: 0.5rem;
      top: 70px;
      background-color: white;
      box-shadow: 0 0 15px rgba(#000, 0.1);
      border-radius: 5px;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(#000, 0.1);
    }

    .info-box {
      h3 {
        margin-left: 5.1rem;
        padding: 0.7rem;
        font-size: 1.1rem;
      }
    }

    .details-box {
      display: flex;
      padding: 0 0.5rem;
      font-size: 0.8rem;
      color: rgba(#000, 0.4);
      font-weight: 700;

      img {
        margin-right: 0.3rem;
      }

      .contract {
        margin-right: 0.6rem;
      }

      .user-count {
        margin-left: 0.6rem;
      }
    }
    .date {
      padding: 0.2rem 0 0.4rem 0.5rem;
      font-size: 0.7rem;
      opacity: 0.2;
      font-weight: 700;
    }
  }
}
